/bin
/jchart2d-3.2.1.zip
/jchart2d-applet.jar
/jchart2d-doc-3.2.1.zip
/jchart2d-eclipse-project-3.2.1.zip
/jchart2d-3.2.2-prerelase-2.jar
/jchart2d-doc-3.2.2-prerelase-2.zip
/jchart2d-eclipse-project-3.2.2-prerelase-2.zip
/jchart2d-eclipse-project-3.2.2.zip
/jchart2d-doc-3.2.2.zip
/jchart2d-3.2.2.jar
/jchart2d-3.2.2.zip
/jchart2d-3.3.0.zip
/jchart2d-doc-3.3.0.zip
/jchart2d-eclipse-project-3.3.0.zip
build/
.idea
*.iml
### Eclipse ###
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
 
# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
# PDT-specific
.buildpath
 
# sbteclipse plugin 
.target
 
# TeXlipse plugin
.texlipse
 
 
### Gradle ###
.gradle
build/
