<?xml version="1.0" encoding="UTF-8"?>
<!--
	This configuration file was written by the eclipse-cs plugin configuration editor
-->
<!--
Checkstyle-Configuration: checkstyle-monitorenter.info
Description:
Checkstyle-Configuration: cs-jchart2d
Description:
Derived from the sun checks standard. 

Softer:
- No force to define numeric literals in constants. 
- Allow catch blocks without statements.
- Maximum line length of 120.
- Allow redundant modifier public in interfaces: It is no mistake to put an emphasis on sth. 
  that is implicitly set (default) in special cases (here: interface scope).
- Allow throws declaration of unchecked Exceptions. Some higher level layer 
  could decide to be able to deal with those exceptions.
- Allow code in non final non private methods to enable higher flexibility. Method contract 
  may be broken by subclasses but higher flexibility is possible.
- Allow protected members for fast access (allows to avoid invokevirtuals in subtype for access).
- Allow inline conditional a = (condition) ? b:c,
Harder: 
- Requires this for member access. 
- Enforce super.clone() in clone implementation. 
- Enforce abstract classnames to be prefixed by A.
-->
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <property name="severity" value="warning"/>
    <module name="TreeWalker">
        <module name="JavadocMethod">
            <property name="allowMissingParamTags" value="true"/>
            <property name="allowMissingThrowsTags" value="true"/>
            <property name="allowMissingReturnTag" value="true"/>
        </module>
        <module name="JavadocType"/>
        <module name="JavadocVariable"/>
        <module name="JavadocStyle"/>
        <module name="ConstantName"/>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MethodName"/>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>
        <module name="AvoidStarImport"/>
        <module name="IllegalImport"/>
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>
        <module name="FileLength">
            <property name="max" value="3000"/>
        </module>
        <module name="MethodLength"/>
        <module name="ParameterNumber"/>
        <module name="EmptyForIteratorPad"/>
        <module name="MethodParamPad"/>
        <module name="NoWhitespaceAfter">
            <property name="tokens" value="LNOT,DOT,BNOT,DEC,UNARY_MINUS,UNARY_PLUS,INC,ARRAY_INIT"/>
        </module>
        <module name="NoWhitespaceBefore"/>
        <module name="OperatorWrap"/>
        <module name="ParenPad"/>
        <module name="TypecastParenPad"/>
        <module name="TabCharacter"/>
        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround"/>
        <module name="ModifierOrder"/>
        <module name="AvoidNestedBlocks"/>
        <module name="EmptyBlock">
            <property name="option" value="text"/>
        </module>
        <module name="LeftCurly"/>
        <module name="NeedBraces"/>
        <module name="RightCurly"/>
        <module name="DoubleCheckedLocking"/>
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <module name="HiddenField">
            <property name="severity" value="error"/>
        </module>
        <module name="IllegalInstantiation"/>
        <module name="InnerAssignment"/>
        <module name="MissingSwitchDefault"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="FinalClass"/>
        <module name="HideUtilityClassConstructor"/>
        <module name="InterfaceIsType"/>
        <module name="VisibilityModifier">
            <property name="protectedAllowed" value="true"/>
        </module>
        <module name="ArrayTypeStyle"/>
        <module name="FinalParameters"/>
        <module name="UpperEll"/>
        <module name="LineLength">
            <property name="max" value="140"/>
        </module>
        <module name="RequireThis">
            <metadata name="com.atlassw.tools.eclipse.checkstyle.comment" value="Enforce this for internal member access to avoid ambiguity with arguments."/>
            <property name="checkMethods" value="false"/>
        </module>
        <module name="SuperFinalize">
            <metadata name="com.atlassw.tools.eclipse.checkstyle.comment" value="Check super finalize for correct finalization in inheritance tree."/>
        </module>
        <module name="MemberName">
            <metadata name="com.atlassw.tools.eclipse.checkstyle.comment" value="all members start with &quot;m_&quot; and continue with at least one lowercase letter."/>
            <property name="format" value="^m_[a-z][a-zA-Z0-9]*$"/>
        </module>
        <module name="TrailingComment"/>
        <module name="AbstractClassName">
            <metadata name="com.atlassw.tools.eclipse.checkstyle.comment" value="All abstract classes start with prefix 'A'."/>
            <property name="format" value="^A.*$|^.*Factory$"/>
        </module>
        <module name="MissingCtor">
            <metadata name="com.atlassw.tools.eclipse.checkstyle.comment" value="Enforce constructor chaining."/>
        </module>
        <module name="ModifiedControlVariable">
            <metadata name="com.atlassw.tools.eclipse.checkstyle.comment" value="Don't modify control variables in loops inside of it. "/>
        </module>
        <module name="MultipleVariableDeclarations">
            <metadata name="com.atlassw.tools.eclipse.checkstyle.comment" value="Single variable declaration."/>
        </module>
        <module name="SuperClone">
            <metadata name="com.atlassw.tools.eclipse.checkstyle.comment" value="super clone."/>
        </module>
        <module name="DefaultComesLast">
            <metadata name="com.atlassw.tools.eclipse.checkstyle.comment" value="Force default to be last in switch."/>
        </module>
    </module>
    <module name="PackageHtml"/>
    <module name="NewlineAtEndOfFile"/>
    <module name="Translation"/>
</module>
